/* este se trata para controlar los estilos que viene puestos con anterioridad para colocarlos con JS o hacer un seleccionado */

/* ------------ parte de los movimientos de las carpetas  ---------- */

.MoveSobremi{
  margin-left: 0%;
  transition: all 2s ease;
}

.MoveSobremi1{
  margin-top: 0%;
  transition: all 2s ease;
}

.MoveFavorito{
  margin-left: -200%;
  transition: all 2s ease;
}

.MoveFavorito1{
  margin-left: -100%;
  transition: all 2s ease;
}

.MoveProyectos{
  margin-left: -400%;
  transition: all 2s ease;
}

.MoveProyectos1{
  margin-left: -600%;
  transition: all 2s ease;
}

.MoveDocumento{
  margin-left: -600%;
  transition: all 2s ease;
}

.MoveDocumento1{
  margin-left: -200%;
  transition: all 2s ease;
}

.MoveEquipo{
  transition: all 2s ease;
  margin-left: -800%;
}

.MoveEquipo1{
  margin-left: -300%;
  transition: all 2s ease;
}

.MoveDescarga{
  transition: all 2s ease;
  margin-left: -1000%;
}

.MoveDescarga1{
  margin-left: -400%;
  transition: all 2s ease;
}

.MoveAjuste{
  transition: all 2s ease;
  margin-left: -1200%;
}

.MoveAjuste1{
  margin-left: -500%;
  transition: all 2s ease;
}

.MoveCurriculum{
  transition: all 2s ease;
  margin-left: -1400%;
}

.MoveCurriculum1{
  margin-left: -700%;
  transition: all 2s ease;
}

/* ------- fin ----------- */

/* ------- desplazamiento de las carpetas diferentes tipos ----------- */

.inicial{
  transform-style: preserve-3d;
  transform: rotateX(0deg);
  transition: all 4s ease;
}

.ARX{
  transform: rotateX(360deg);
  transform-style: preserve-3d;
  transition: all 4s ease;
}

.ARY{
  transform: rotateY(360deg);
  transform-style: preserve-3d;
  transition: all 4s ease;
}

.AE{
  transform: rotateX(360deg) rotateY(360deg);
  transform-style: preserve-3d;
  transition: all 4s ease;
}

/* ---------------- Fin -------------- */

/* animacion de desplazamiento de proyecto */

.DPtodo{
  margin-left: -100%;
  transform: scale(0.5);
  transition: all 1s ease;
}

/* ----------- parte de contenedor de ajustes ------------- */

/* parte del contenedor de las animaciones de desplazamientos de las diferentes informaciones */

:root {
    --pcolor5: mediumspringgreen;
}


.seleccionador_animacion::after{
    position: absolute;
    right: 2%;
    top: 2%;
    width: 25px;
    height: 25px;
    background: var(--pcolor5);
    border-radius: 100%;
    z-index: 2;
  }

/* ------- fin ----------- */

/* lo que sea */

.EscalaMinima{
  transform: scale(0.5);
  transition: all 1s ease;
}

.activacion{
  transform-style: preserve-3d;
  transition: all 1s ease;
  transform: scale(0);
  opacity: 0;
}

.arriba {
  transition: all 1s ease;
  margin-top: -30%;
}

.none{
  display: none;
}

.Acarga{
  transition: all 600ms ease;
  transform: scale(0.9) translateX(30%);
}

.abajoimg{
 transition: all 1 ease;
 transform: scale(1.3);
}

.giro1{
  transform: scale(0) translateX(-150px);
  transition: all 1s ease;
}

.actioncard > .contenedor_alante{
  transition: all 1s ease;
  transform: scale(0) translateX(-150px);
}

.back{
  z-index: -1;
  transition: all 1s ease;
}

.formatoh > p{
  transition: all 1s ease;
  background: rgb(0,0,0,0.5);
  color: white;
  font-size: 18px;
  box-shadow: 0px 0px 5px black;
}

/* estilos js del footer (atribuciones) */

.moveCP100{
  margin-left: -100%;
  transition: all 400ms ease;
}

.moveCP200{
  margin-left: -200%;
  transition: all 400ms ease;
}

.moveCP0{
  margin-left: 0%;
  transition: all 400ms ease;
}