.configuration_container{
    position: relative;
    transition: all 300ms ease;
}

.configuration_container > .header{
    background: transparent;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 0px transparent;
    > h2{
        font-size: 50px;
        text-align: center;
        margin-top: 25px;
        color: white;
        text-transform: uppercase;
        text-shadow: 1px 2px 1px rgb(144, 140, 140),
                     1px 4px 1px rgb(144, 140, 140),
                     1px 6px 1px rgb(144, 140, 140);
        margin-bottom: 20px;
    }

    > hr{
        width: 90%;
        height: 7px;
        border-radius: 5px;
        background: white;
        margin: 0 auto;
    }
}

.configuration_container > .home_container{
    padding: 10px;
    width: 95%;
    height: auto;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    margin-top: 40px;

    > h2{
        font-size: 45px;
        color: white;
        margin-bottom: 15px;
    }

    > .home_subcontainer{
        width: 100%;
        height: auto;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3 , minmax(auto , 1fr));
        gap: 20px;
        border-radius: 5px;

        > .img{
            width: 100%;
            height: 300px;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            transition: all 300ms ease;
            padding: 15px;
            background: #ffffff1a;
            backdrop-filter: blur(16px) saturate(120%);

            > img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 300ms ease;
                border-radius: 10px;
            }

            > img:hover{
                transform: scale(1.05);
                transition: all 300ms ease;
            }
        }

        > .img:hover{
            transform: scale(1.030);
            box-shadow: 0px 0px 10px 2px var(--color2);
            transition: all 300ms ease;
            cursor: pointer;
        }

        > .img:active{
            transform: scale(0.95);
        }

        > .select_img::after{
            content: "✔";
            color: white;
            font-size: 24px;
            background: green;
            border: 5px solid darkgreen;
            border-radius: 100%;
            padding: 5px 12px;
            z-index: 2;
            top: 0px;
            transform: translateY(5px);
            transition: all 300ms ease;
            right: 5px;
        }
    }
}


.configuration_container > .themes_container{
    padding: 10px;
    width: 95%;
    height: auto;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    margin-top: 40px;

    > h2{
        font-size: 45px;
        color: white;
        margin-bottom: 15px;
    }

    > .themes_subcontainer{
        width: 100%;
        height: auto;
        position: relative;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3 , minmax(auto , 1fr));
        gap: 20px;
        background: var(--color3);
        border-radius: 5px;

        > span{
            width: 100%;
            height: 300px;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            transition: all 300ms ease;
            background: #247ed3;
        }

        > span:nth-child(2){
            background: #148d8d;
        }

        > span:nth-child(3){
            background: #FF600A;
        }

        > span:nth-child(4){
            background: #839433;
        }

        > span:nth-child(5){
            background: #f72c02;
        }
        
        > span:nth-child(6){
            background: #517397;
        }
        

        > span:hover{
            transform: scale(1.030);
            box-shadow: 5px 5px 10px 4px var(--color5);
            transition: all 300ms ease;
            cursor: pointer;
        }

        > span:active{
            transform: scale(0.95);
        }

        > .select_color::after{
            content: "✔";
            color: white;
            font-size: 24px;
            background: green;
            border: 5px solid darkgreen;
            border-radius: 100%;
            padding: 5px 12px;
            z-index: 2;
            top: 0px;
            transform: translateY(5px);
            transition: all 300ms ease;
            right: 5px;
        }
    }
}

.configuration_container > .movimiento_container{
    padding: 10px;
    width: 95%;
    height: auto;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    margin-top: 40px;

    > h2{
        font-size: 45px;
        color: white;
        margin-bottom: 15px;
    }

    > .movimiento_subcontainer{
        width: 100%;
        height: auto;
        position: relative;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2 , minmax(auto , 1fr));
        gap: 20px;
        background: var(--color3);
        border-radius: 5px;

        > span{
            width: 100%;
            height: 300px;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            transition: all 300ms ease;
            background: var(--color2);
            > span{
                display: block;
                border-radius: 10px;
                width: 90%;
                height: 90%;
                top: 5%;
                left: 5%;
                position: relative;
                transform: scale(0);
                filter: blur(5px);
                opacity: 0;
                pointer-events: none;
                background: var(--color4);
                transition: all 400ms ease;
            }
        }    

        > span:hover{
            transform: scale(1.030);
            box-shadow: 5px 5px 10px 4px var(--color3);
            transition: all 300ms ease;
            cursor: pointer;
            > span{
                transform: scale(1);
                filter: blur(0px);
                opacity: 1;
                transition: all 400ms ease;
            }
        }

        > span:nth-child(1){
            > span{
                transform: scale(1);
            }
        }

        > span:nth-child(2){
            > span{
                transform: scale(0) translateY(-100%);
            }
        }

        > span:nth-child(2):hover{
            > span{
                transform: scale(1) translateY(0%);
            }
        }
       
        > span:nth-child(3){
            > span{
                transform: scale(1);
                filter: blur(20px);
                opacity: 0;
            }
        }

        > span:nth-child(3):hover{
            > span{
                transform: scale(1);
                filter: blur(0px);
                opacity: 1;
            }
        }

        > span:nth-child(4){
            > span{
                transform: scale(0) translateY(100%);
            }
        }

        > span:nth-child(4):hover{
            > span{
                transform: scale(1) translateY(0%);
            }
        }

        > span:active{
            transform: scale(0.95);
        }

        > .select_color::after{
            content: "✔";
            color: white;
            font-size: 24px;
            background: green;
            border: 5px solid darkgreen;
            border-radius: 100%;
            padding: 5px 12px;
            z-index: 2;
            top: 0px;
            transform: translateY(5px);
            transition: all 300ms ease;
            right: 5px;
        }
    }
}


/* adaptador */
@media screen and (max-width: 698px) {
    .configuration_container > .home_container{
        > .home_subcontainer{
            grid-template-columns: 1fr;
            width: 100%;
            margin: 0 auto;
        }
        
        > h2{
           text-align: center;
        }
    }

    .configuration_container > .themes_container{
        margin: 0px auto;
        padding: 10px;
        > .themes_subcontainer{
            grid-template-columns: 1fr;
            width: 100%;
            margin: 0 auto;
        }

        > h2{
           text-align: center;
        }
    }

    .configuration_container > .themes_container{
        margin: 0px auto;
        padding: 10px;
        > .themes_subcontainer{
            grid-template-columns: 1fr;
            width: 100%;
            margin: 0 auto;
        }

        > h2{
           text-align: center;
        }
    }

    .configuration_container > .movimiento_container{
        margin: 0px auto;
        padding: 10px;

        > h2{
           text-align: center;
        }
    
        > .movimiento_subcontainer{
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
}

@media screen and (max-width: 470px) {
    .configuration_container > .header{
        > h2{
            font-size: 35px;
            margin-top: 70px;
        }
    }
}
