@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

*::after,
*::before {
    position: absolute;
    display: block;
    content: "";
}

body {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    background: var(--color4);
}

/* colores */
:root {
    --color1: #247ed3;
    /* 500 */
    --color2: #1662b3;
    /* 600 */
    --color3: #14539a;
    /* 700 */
    --color4: #144378;
    /* 800 */
    --color5: #163964;
    /* 900 */
}

main {
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* container_all_modulus and container_slider_modulus */
.container_all_modulus {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    >.container_slider_modulus {
        width: 400%;
        height: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, minmax(auto, 1fr));
        overflow: hidden;
        transition: all 300ms ease;

        >section {
            width: 100%;
            height: 100%;
            position: relative;
            overflow-y: scroll;
            scrollbar-width: none;
        }
    }
}

/* estilos predefinidos */
.none {
    display: none;
}

.header {
    position: relative;

    left: 0;
    width: 100%;
    height: auto;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px black;
    background: var(--color3);
    z-index: 2;

    >img {
        width: 80px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    >.logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        >h2 {
            font-size: 40px;
            color: white;
        }
    }

    >nav {
        position: relative;
        height: auto;

        >ul {
            height: auto;
            position: relative;
            display: flex;
            align-items: center;
            list-style: none;

            >li {
                padding: 10px;
                margin-right: 10px;
                font-size: 24px;
                transition: all 300ms ease;

                >a {
                    text-decoration: none;
                    color: white;
                    position: relative;
                    transition: all 300ms ease;
                }

                >a::after {
                    width: 0%;
                    height: 2px;
                    background: white;
                    bottom: 0;
                    left: 0;
                    transition: all 100ms linear;
                }

                >a:hover::after {
                    width: 100%;
                    transition: all 100ms linear;
                }
            }

            >li:hover {
                transform: scale(1.030) translateY(-5px);
                cursor: pointer;
                transition: all 300ms ease;
            }

            >li:active {
                transform: scale(0.95);
            }
        }
    }
}


/* dise単o de botones */
/* botones */
.btn1 {
    background-color: #eef2ff;
    border-radius: 8px;
    border-width: 2px;
    border-color: #536dfe;
    box-shadow: rgba(83, 109, 254, 0.2) 0 2px 4px,
        rgba(83, 109, 254, 0.15) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #536dfe;
    cursor: pointer;
    overflow: hidden;
    padding: 15px 24px;
    position: relative;
    transition: 300ms ease;

    >a {
        text-decoration: none;
        font-size: 20px;
        color: #536dfe;
    }
}

.btn1:hover {
    box-shadow: rgba(83, 109, 254, 0.3) 0 4px 8px,
        rgba(83, 109, 254, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: scale(1.020);
    transition: 300ms ease;
}

.btn1:active {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(83, 109, 254, 0.4) 0 2px 4px,
        rgba(83, 109, 254, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: scale(1);
}

.btn2 {
    background-color: rgb(176, 170, 170);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    >a {
        text-decoration: none;
        color: black;
    }
}

.btn2:hover {
    transform: scale(1.010) translateY(-2px);
}

.btn2:after {
    background-clip: padding-box;
    background-color: white;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.btn2:hover:not(:disabled) {
    filter: brightness(1.1);
}

.btn2:disabled {
    cursor: auto;
}

.btn2:active:after {
    border-width: 0 0 0px;
}

.btn2:active {
    padding-bottom: 10px;
    transform: scale(1) translateY(0px);
}

.btn3 {
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    background-color: var(--color2);
    font-size: 20px;
    transition: all 200ms linear;
    box-shadow: var(--color3) 0px 5px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.btn3:hover {
    box-shadow: var(--color3) 0px 7px 0px 0px;
    transform: translateY(-2px);
}

.btn3:active {
    background-color: var(--color2);
    /*50, 168, 80*/
    box-shadow: var(--color3) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: all 200ms linear;
}

.btn4 {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    border: 2px solid white;
    box-shadow: 0px 0px 2px black;
    border-radius: 20px;
    background-color: transparent;
    transition: all 0.3s linear;
    overflow: hidden;

    >a {
        text-decoration: none;
        color: white;
        text-shadow: 0px 0px 2px black;
        font-weight: 600;
        font-size: 18px;
        transition: all 0.3s linear;
    }
}

.btn4::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    transition: all 0.5s ease;
}

.btn4:hover::before {
    scale: 3;
    background: var(--color1);
    transition: all 0.5s ease;
}

.btn4:hover {
    >a {
        color: white;
        font-size: 19px;
    }
}

.btn4:active {
    border: 2px solid black;
    box-shadow: 0px 0px 5px black;

    >a {
        font-size: 18px;
    }
}

.btn5 {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    background: var(--color1);
    transition: all 300ms ease;
    color: white;
    border: 4px solid transparent;
}


.btn5::after {
    display: none;
}

.btn5:hover {
    transform: scale(1);
    transition: all 300ms ease;
    cursor: pointer;
    border: 4px solid var(--color2);
}

.btn5:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 5px black;
}

/* fin de dise単o de botones */

.input1 {
    border: none;
    padding: 15px 20px;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 2px 2px 10px #c0d2fd;
    transition: 0.3s ease;
    font-size: 20px;
    border: 4px solid transparent;
}

.input1:focus {
    outline-color: transparent;
    border-color: #628ef8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
        inset -20px -20px 60px #ffffff;
    transition: 0.3s ease;
}

/* cards */
.item_proyecto {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    background: var(--color5);
    transition: all 300ms ease;

    /* encabezado */
    >.encabezado_item_proyecto {
        width: 100%;
        height: 200px;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        display: flex;
        align-items: end;
        justify-content: end;
        padding: 10px;

        >img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
            transition: all 300ms ease;
        }

        >p {
            font-size: 30px;
            color: white;
            z-index: 3;
        }
    }

    >.encabezado_item_proyecto::after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgb(0, 0, 0, 0.3);
    }

    /* controles */
    >.controles {
        width: 100%;
        height: auto;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 10px;

        >.lenguajes {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;

            >img {
                width: 40px;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 100%;
            }
        }
    }

    /* info_proyeto */
    >.info_proyeto {
        width: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        transition: all 400ms ease;
        padding: 10px;
        color: white;

        > p{
            font-size: 20px;
            margin-bottom: 15px;
        }

        > button{
            > a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

.item_proyecto:hover {
    box-shadow: 6px 6px 5px var(--color1);
    transform: scale(1.040) translateY(-10px);
    transition: all 300ms ease;

    >.encabezado_item_proyecto {
        >img {
            transform: scale(1.1);
            transition: all 300ms ease;
        }
    }
}

/* animaciones */
.tab_animacion1 {
    transform: translateY(20px);
    opacity: 0;
    transition: all 300ms ease;
}

.tab_animacion2 {
    opacity: 1;
    transform: translateY(0px);
    transition: all 300ms ease;
}

.scale{
    transform: scale(0);
    transition: all 500ms ease;
}

.tama単o1{
    height: 0px;
    transition: all 400ms ease;
    opacity: 0;
}

.tama単o2{
    height: 150px;
    transition: all 400ms ease;
    opacity: 1;
}


/* clases para funcionalidades */
.none {
    display: none;
}

@media screen and (max-width: 616px) {
    
.header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    > .logo{
        text-align: center;
    }

    >img {
        width: 80px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    >nav {
        >ul {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }
}
}