
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

*::after,
*::before {
    position: absolute;
    display: block;
    content: "";
}

body {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    display: flex;
    background: var(--color4);
    overflow: hidden;
    transition: all 300ms ease;
}

/* btn musica */
.btn_musica{
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 7px;
  backdrop-filter: blur(10px);
  transition: all 100ms linear;
  z-index: 5;
  cursor: pointer;
}

.btn_musica:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 5px #ffffff36;
  transition: all 100ms linear;
}

.btn_musica:active{
  transform: scale(0.95);
}

/* imagenes */
.btn_musica_start{
  background: #ffffff1a url(../IMG/start.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn_musica_pause{
  background: #ffffff1a url(../IMG/pausa.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
}

#musica{
  opacity: 0;
  position: absolute;
  pointer-events: none;
  transform: scale(0);
}
/* fin btn musica */

/* colores */
:root {
    --color1: #247ed3;
    /* 500 */
    --color2: #1662b3;
    /* 600 */
    --color3: #14539a;
    /* 700 */
    --color4: #144378;
    /* 800 */
    --color5: #163964;
    /* 900 */
}


/* contenedor carga */
.contenedor_carga{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background: var(--color5);
  animation: 5s ani_cierre ease;
  animation-delay: 3s;
}

@keyframes ani_cierre {
  from{
    transform: scale(1);
  }to{
    transform: scale(5);
    opacity: 0;
    filter: blur(10px);
  }
}

.loader {
  width: 6em;
  height: 6em;
  transform: scale(1.3);
}

.loader-ring {
  animation: ringA 2s linear infinite;
}

.loader-ring-a {
  stroke: var(--color2);
}

.loader-ring-b {
  animation-name: ringB;
  stroke: var(--color3);
}

.loader-ring-c {
  animation-name: ringC;
  stroke: var(--color2);
}

.loader-ring-d {
  animation-name: ringD;
  stroke: var(--color3);
}

 /* Animations */
 @keyframes ringA {
  from, 4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%, 54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%, to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from, 12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%, 62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%, to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%, 58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from, 8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%, 50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

.animation_paused{
  animation-play-state: paused;
}

.traslado_ani_inicio{
  transform: translateY(-100%);
  transition: all 3s ease;
}
/* fin contenedor carga */

main {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: all 5.3s ease;

    > span:nth-child(1){
      width: 40px;
      aspect-ratio: 1/1;
      position: absolute;
      border-radius: 5px;
      top: 20px;
      left: 15px;
      z-index: 10;
      transition: all 150ms linear;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    > span:nth-child(1):hover{
      transform: scale(1.1);
      transition: all 150ms linear;
      background: var(--color3);
      padding: 3px;
    }

    > span:nth-child(1):active{
      transform: scale(0.9);
    }

    > .indicador_movimiento{
      width: 40px;
      aspect-ratio: 1/1;
      position: absolute;
      border-radius: 5px;
      top: 20px;
      right: 20px;
      z-index: 10;
      transition: all 150ms linear;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 25px;
      color: white;
      backdrop-filter: blur(16px) saturate(120%);
    }
}

.oculto_ani_btn_menu{
  transform: scale(0);
  opacity: 0;
  filter: blur(10px);
  transition: all 250ms ease; 
  pointer-events: none;
}

.scrollable::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en navegadores webkit */
}

/* container_all_modulus and container_slider_modulus */
.container_all_modulus {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all 400ms ease;

    >.container_slider_modulus {
        width: 10000%;
        height: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(100, minmax(auto , 1fr));
        align-items: top;
        flex-wrap: nowrap;
        overflow: hidden;
        transition: all 500ms ease;   

        >section {
            width: 100%;
            height: 100%;
            position: relative;
            overflow-y: scroll;
            opacity: 1;
            scrollbar-width: none;
        }

        >section::after{
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-shadow: inset 0px 0px 0px 10px var(--color2);
          z-index: 5;
          pointer-events: none;
          background: transparent;
        }
    }
}


/* estilos predefinidos */
.none {
    display: none;
}

.ani_ancho{
  width: 0px;
  transition: all 350ms ease;
}

.socket {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
  }
  
  .hex-brick {
    width: 30px;
    height: 17px;
    position: absolute;
    top: 5px;
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
  }
  
  .h2 {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
  }
  
  .h3 {
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
  }
  
  .gel {
    height: 30px;
    width: 30px;
    transition: all .3s;
    -webkit-transition: all .3s;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .center-gel {
    margin-left: -15px;
    margin-top: -15px;
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
  }
  
  .c1 {
    margin-left: -47px;
    margin-top: -15px;
  }
  
  .c2 {
    margin-left: -31px;
    margin-top: -43px;
  }
  
  .c3 {
    margin-left: 1px;
    margin-top: -43px;
  }
  
  .c4 {
    margin-left: 17px;
    margin-top: -15px;
  }
  
  .c5 {
    margin-left: -31px;
    margin-top: 13px;
  }
  
  .c6 {
    margin-left: 1px;
    margin-top: 13px;
  }
  
  .c7 {
    margin-left: -63px;
    margin-top: -43px;
  }
  
  .c8 {
    margin-left: 33px;
    margin-top: -43px;
  }
  
  .c9 {
    margin-left: -15px;
    margin-top: 41px;
  }
  
  .c10 {
    margin-left: -63px;
    margin-top: 13px;
  }
  
  .c11 {
    margin-left: 33px;
    margin-top: 13px;
  }
  
  .c12 {
    margin-left: -15px;
    margin-top: -71px;
  }
  
  .c13 {
    margin-left: -47px;
    margin-top: -71px;
  }
  
  .c14 {
    margin-left: 17px;
    margin-top: -71px;
  }
  
  .c15 {
    margin-left: -47px;
    margin-top: 41px;
  }
  
  .c16 {
    margin-left: 17px;
    margin-top: 41px;
  }
  
  .c17 {
    margin-left: -79px;
    margin-top: -15px;
  }
  
  .c18 {
    margin-left: 49px;
    margin-top: -15px;
  }
  
  .c19 {
    margin-left: -63px;
    margin-top: -99px;
  }
  
  .c20 {
    margin-left: 33px;
    margin-top: -99px;
  }
  
  .c21 {
    margin-left: 1px;
    margin-top: -99px;
  }
  
  .c22 {
    margin-left: -31px;
    margin-top: -99px;
  }
  
  .c23 {
    margin-left: -63px;
    margin-top: 69px;
  }
  
  .c24 {
    margin-left: 33px;
    margin-top: 69px;
  }
  
  .c25 {
    margin-left: 1px;
    margin-top: 69px;
  }
  
  .c26 {
    margin-left: -31px;
    margin-top: 69px;
  }
  
  .c27 {
    margin-left: -79px;
    margin-top: -15px;
  }
  
  .c28 {
    margin-left: -95px;
    margin-top: -43px;
  }
  
  .c29 {
    margin-left: -95px;
    margin-top: 13px;
  }
  
  .c30 {
    margin-left: 49px;
    margin-top: 41px;
  }
  
  .c31 {
    margin-left: -79px;
    margin-top: -71px;
  }
  
  .c32 {
    margin-left: -111px;
    margin-top: -15px;
  }
  
  .c33 {
    margin-left: 65px;
    margin-top: -43px;
  }
  
  .c34 {
    margin-left: 65px;
    margin-top: 13px;
  }
  
  .c35 {
    margin-left: -79px;
    margin-top: 41px;
  }
  
  .c36 {
    margin-left: 49px;
    margin-top: -71px;
  }
  
  .c37 {
    margin-left: 81px;
    margin-top: -15px;
  }
  
  .r1 {
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .2s;
  }
  
  .r2 {
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
  }
  
  .r3 {
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
  }
  
  .r1 > .hex-brick {
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .2s;
  }
  
  .r2 > .hex-brick {
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
  }
  
  .r3 > .hex-brick {
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
  }
  
  @keyframes pulse00 {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    50% {
      -webkit-transform: scale(0.01);
      transform: scale(0.01);
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes fade00 {
    0% {
      background: var(--color1);
    }
  
    50% {
      background: var(--color2);
    }
  
    100% {
      background: var(--color3);
    }
  }  


/* diseño de botones */
/* botones */
.btn1 {
    background-color: #eef2ff;
    border-radius: 8px;
    border-width: 2px;
    border-color: #536dfe;
    box-shadow: rgba(83, 109, 254, 0.2) 0 2px 4px,
        rgba(83, 109, 254, 0.15) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #536dfe;
    cursor: pointer;
    overflow: hidden;
    padding: 15px 24px;
    position: relative;
    transition: 300ms ease;

    >a {
        text-decoration: none;
        font-size: 20px;
        color: #536dfe;
    }
}

.btn1:hover {
    box-shadow: rgba(83, 109, 254, 0.3) 0 4px 8px,
        rgba(83, 109, 254, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: scale(1.020);
    transition: 300ms ease;
}

.btn1:active {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(83, 109, 254, 0.4) 0 2px 4px,
        rgba(83, 109, 254, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: scale(1);
}

.btn2 {
    background-color: rgb(176, 170, 170);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    >a {
        text-decoration: none;
        color: black;
    }
}

.btn2:hover {
    transform: scale(1.010) translateY(-2px);
}

.btn2:after {
    background-clip: padding-box;
    background-color: white;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.btn2:hover:not(:disabled) {
    filter: brightness(1.1);
}

.btn2:disabled {
    cursor: auto;
}

.btn2:active:after {
    border-width: 0 0 0px;
}

.btn2:active {
    padding-bottom: 10px;
    transform: scale(1) translateY(0px);
}

.btn3 {
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    background-color: var(--color2);
    font-size: 20px;
    transition: all 200ms linear;
    box-shadow: var(--color3) 0px 5px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.btn3:hover {
    box-shadow: var(--color3) 0px 7px 0px 0px;
    transform: translateY(-2px);
}

.btn3:active {
    background-color: var(--color2);
    /*50, 168, 80*/
    box-shadow: var(--color3) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: all 200ms linear;
}

.btn4 {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    border: 2px solid white;
    box-shadow: 0px 0px 2px black;
    border-radius: 20px;
    background-color: transparent;
    transition: all 0.3s linear;
    overflow: hidden;

    >a {
        text-decoration: none;
        color: white;
        text-shadow: 0px 0px 2px black;
        font-weight: 600;
        font-size: 18px;
        transition: all 0.3s linear;
    }
}

.btn4::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    transition: all 0.5s ease;
}

.btn4:hover::before {
    scale: 3;
    background: var(--color1);
    transition: all 0.5s ease;
}

.btn4:hover {
    >a {
        color: white;
        font-size: 19px;
    }
}

.btn4:active {
    border: 2px solid black;
    box-shadow: 0px 0px 5px black;

    >a {
        font-size: 18px;
    }
}

.btn5 {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    background: var(--color1);
    transition: all 300ms ease;
    color: white;
    border: 4px solid transparent;
}


.btn5::after {
    display: none;
}

.btn5:hover {
    transform: scale(1);
    transition: all 300ms ease;
    cursor: pointer;
    border: 4px solid var(--color2);
}

.btn5:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 5px black;
}

.btn6 {
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 18px;
  background: var(--color1);
  transition: all 150ms linear;
  color: white;
}

.btn6:hover {
  transform: scale(1.030);
  transition: all 150ms linear;
  cursor: pointer;
  box-shadow: 0px 6px 0px var(--color2);
}

.btn6:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 0px var(--color2);
}
/* fin de diseño de botones */

.input1 {
    border: none;
    padding: 15px 20px;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 2px 2px 10px #c0d2fd;
    transition: 0.3s ease;
    font-size: 20px;
    border: 4px solid transparent;
}

.input1:focus {
    outline-color: transparent;
    border-color: #628ef8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
        inset -20px -20px 60px #ffffff;
    transition: 0.3s ease;
}

/* cards */
.item_proyecto {
    width: 100%;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(var(--color3) 60% , var(--color1));
    transition: all 250ms ease;
    height: 400px;

    /* encabezado */
    > div{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      overflow: hidden;
      transform-style: preserve-3d;
      perspective: 1000;
      transition: all 350ms ease;
      backface-visibility: hidden;
    }

    > .front{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px; 

      > img{
        position: absolute;
        width: 95%;
        height: 95%;
        border-radius: 5px;
        object-fit: cover;
        z-index: -1;
      }

      > p{
        font-size: 35px;
        margin: 0;
        color: white;
        text-align: center;
        text-shadow: 1px 2px 1px rgb(136, 130, 130),
                     1px 4px 1px rgb(136, 130, 130);
        font-weight: bold;
        padding: 5px;
        border-radius: 5px;
      }

      > button{
        width: max-content;
        font-size: 20px;
      }
    }

    > .back{
      padding: 15px;
      width: 95%;
      height: 95%;
      left: 2.5%;
      top: 2.5%;
      transform: scale(0.8);
      border: 2px solid white;
      filter: blur(5px);
      opacity: 0;
      pointer-events: none;
      overflow-y: scroll;
      scrollbar-width: none;

      > h2{
        font-size: 30px;
        margin-bottom: 5px;
        color: white;
        text-align: center;
      }

      > h4{
        font-size: 24px;
        color: white;
      }

      > h4:nth-child(2){
        margin-bottom: 7px;
      }

      > .lenguajes{
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 15px;

        > img{
          width: 50px;
          aspect-ratio: 1/1;
          object-fit: cover;
          padding: 5px;
          border: 1px solid white;
          border-radius: 5px;
        }
      }

      > .info_proyeto{
        width: 100%;
        height: auto;
        position: relative;

        > p{
          width: 100%;
          height: 70px;
          overflow-y: scroll;
          scrollbar-width: none;
          color: white;
          font-size: 20px;
          padding: 0;
          margin: 0;
          margin-bottom: 20px;
        }

        > button{
          font-size: 20px;
          > a{
            text-decoration: none;
            color: white;
          }
        }
      }
    } 
}

.item_proyecto:hover {
    box-shadow: 6px 6px 2px var(--color2),
                12px 12px 2px var(--color3),
                18px 18px 2px var(--color4);
    transform: scale(1.020) translateY(-10px);
    transition: all 250ms ease;

    > .back{
      transform: scale(1);
      opacity: 1;
      filter: blur(0px);
      background: linear-gradient(var(--color2) , var(--color4));
      transition: all 350ms ease;
      pointer-events: inherit;
    }
}

/* animaciones */
.tab_animacion1 {
    transform: translateY(20px);
    opacity: 0;
    transition: all 300ms ease;
}

.tab_animacion2 {
    opacity: 1;
    transform: translateY(0px);
    transition: all 300ms ease;
}

.scale{
    transform: scale(0);
    transition: all 500ms ease;
}

.tamaño1{
    height: 0px;
    transition: all 400ms ease;
    opacity: 0;
}

.tamaño2{
    height: 170px;
    transition: all 400ms ease;
    opacity: 1;
}


/* clases para funcionalidades */
.none {
    display: none;
}

.foco{
    display: none;
}

@media screen and (max-width: 616px) {
    
.header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    > .logo{
        text-align: center;
    }

    >img {
        width: 80px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    >nav {
        >ul {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }
}
}