@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

*::after,
*::before {
  content: "";
  display: block;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Estilos del encabezado */

.contenedor_header_all {
  width: 100%;
  height: auto;
  position: relative;
  height: auto;
  margin-bottom: 40px;
  overflow: hidden;
}

.contenedor_header_all > header {
  width: 100%;
  height: auto;
  box-shadow: 0px 5px 5px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  flex-flow: wrap;
  z-index: 2;
  transition: all 400ms ease;
}

.contenedor_header_all > header > .logo > h1 {
  text-align: center;
}

.contenedor_header_all > header > .logo > h1 > a {
  font-size: 50px;
  color: white;
}

.contenedor_header_all > header > .lista,
.contenedor_header_all > header > .lista > nav {
  position: relative;
  height: auto;
}

.contenedor_header_all > header > .lista > nav > ul {
  display: flex;
  align-items: center;
  position: relative;
  list-style: none;
  justify-content: right;
  flex-flow: wrap;
  width: 100%;
  height: auto;
}

.contenedor_header_all > header > .lista > nav > ul > li {
  padding: 15px;
  position: relative;
  transition: all 300ms ease;
  margin-right: 10px;
  border: 1px solid white;
}

.contenedor_header_all > header > .lista > nav > ul > li::after {
  right: 0;
  width: 3px;
  height: 100%;
  background: white;
  transition: all 300ms ease;
  top: 0;
  z-index: -1;
}

.contenedor_header_all > header > .lista > nav > ul > li:hover::after {
  transition: all 300ms ease;
  width: 100%;
}

.contenedor_header_all > header > .lista > nav > ul > li:hover a {
  color: black;
  transition: all 300ms ease;
}

.contenedor_header_all > header > .lista > nav > ul > li > a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.contenedor_header_all > header > .lista > nav > ul > img:nth-child(3) {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.contenedor_header_all > header > .lista > nav > ul > img:nth-child(4) {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 400ms ease;
}

.contenedor_header_all > header > .lista > nav > ul > img:nth-child(4):hover {
  transition: all 400ms ease;
  transform: scale(1.1);
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0px 5px 3px white;
}

.contenedor_header_all > .info_header {
  width: 100%;
  height: 700px;
  background: url(../img/fondo_h_producto.jpg);
  background-size: 200%;
  background-repeat: no-repeat;
  display: flex;
  background-attachment: fixed;
  align-items: end;
}

.contenedor_header_all > .info_header > .redes_header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-flow: wrap;
}

.contenedor_header_all > .info_header > .redes_header > img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  transition: all 400ms ease;
}

.contenedor_header_all > .info_header > .redes_header > img:hover {
  transition: all 400ms ease;
  transform: translateY(-20px) scale(1.1);
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.contenedor_header_all > .info_header_p {
  width: 100%;
  height: auto;
  padding: 5px;
  text-align: center;
  background: greenyellow;
}

/* fin Estilos del encabezado */

/* Estilos de la notificacion */

.sub_content_info {
  width: 100%;
  height: auto;
  padding: 5px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px black;
  color: white;
  justify-content: center;
  position: fixed;
  bottom: 0%;
  left: 0;
  z-index: 4;
  text-align: center;
}

.sub_content_info > button {
  padding: 10px;
  margin-left: 10px;
  font-size: 18px;
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  transition: all 400ms ease;
}

.sub_content_info > button:hover {
  background: white;
  color: black;
  transition: all 400ms ease;
  transform: scale(1.1);
  margin-left: 15px;
  margin-right: 5px;
  cursor: pointer;
}

/* fin Estilos de la notificacion */

/* contenido principal */

main {
  width: 100%;
  height: auto;
  position: relative;
}

/* navegacion */

.navegacion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navegacion > nav {
  position: relative;
  height: auto;
  width: 100%;
}

.navegacion > nav > ul {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  position: relative;
  justify-content: center;
  flex-flow: wrap;
}

.navegacion > nav > ul > li {
  padding: 15px;
  margin-right: 20px;
  font-size: 20px;
  position: relative;
  transition: all 400ms ease;
}

.navegacion > nav > ul > li:hover {
  color: white;
  transition: all 400ms ease;
  cursor: pointer;
}

.navegacion > nav > ul > li::after {
  width: 100%;
  height: 3px;
  background: black;
  bottom: 10px;
  left: 0px;
  transition: all 400ms ease;
  z-index: -1;
}

.navegacion > nav > ul > li:hover::after {
  height: 100%;
  bottom: 0;
  transition: all 400ms ease;
  box-shadow: 0px 0px 10px black;
}

/* fin de navegacion */

/* productos que se venden */

.contenedor_productos_all {
  width: 80%;
  margin: auto;
  position: relative;
  margin-top: 40px;
}

.contenedor_productos_all > .content_product_all {
  width: 100%;
  height: auto;
  position: relative;
  gap: 20px;
  flex-shrink: 0;
  transition: all 300ms ease;
}

.contenedor_productos_all > .content_product_all:nth-child(1) {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.contenedor_productos_all > .content_product_all:nth-child(2) {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.contenedor_productos_all > .content_product_all:nth-child(3) {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.contenedor_productos_all > .content_product_all > .card_producto {
  height: auto;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin-right: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor_productos_all > .content_product_all > .card_producto > img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.contenedor_productos_all > .content_product_all > .card_producto::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: rgba(207, 205, 205, 0.5);
  box-shadow: 0px 0px 30px rgba(207, 205, 205, 0.5);
  top: 10px;
  left: 20px;
  transition: all 400ms ease;
}

.contenedor_productos_all > .content_product_all > .card_producto:hover:after {
  transform: translateX(30px) translateY(30px);
  transition: all 400ms ease;
  width: 100px;
  height: 100px;
}

.contenedor_productos_all > .content_product_all > .card_producto:hover {
  transition: 0.5s ease-out;
  border-color: green;
}

.contenedor_productos_all > .content_product_all > .card_producto > button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: green;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.contenedor_productos_all > .content_product_all > .card_producto:hover button {
  transform: translate(-50%, 50%);
  transition: 0.3s ease-out;
  opacity: 1;
}

.contenedor_productos_all
  > .content_product_all
  > .card_producto
  > button:hover {
  box-shadow: 0px 0px 10px green;
  transform: scale(1.1) translate(-45%, 50%);
  transition: 0.3s ease-out;
  cursor: pointer;
}

/* fin de productos que se venden */

/* variedad de productos de mostrar estilos */

.contenedor_productos_V {
  width: 90%;
  height: auto;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-columns: minmax(auto , 70%) minmax(auto , 30%);
  margin-top: 40px;
  gap: 20px;
}

.contenedor_productos_V > article {
  padding: 10px;
  width: 100%;
  position: relative;
  height: auto;
  border-radius: 10px;
  margin-bottom: 30px;
  transform-style: preserve-3d;
  border: 1px solid rgba(255, 255, 255, 0.089);
  transition: all 0.5s ease-in-out;
  box-shadow: inset 0 0 80px whitesmoke, inset 20px 0 80px rgba(255, 0, 255, 0.747),
  inset -20px 0 80px #0ff, inset 20px 0 300px rgb(80, 31, 80), inset -20px 0 300px #0ff,
  0 0 50px #fff, -10px 0 80px rgb(194, 57, 194), 10px 0 80px #0ff;
  transition: all ease-in-out 0.3s;
}


.contenedor_productos_V > article:hover {
    --lightness: 80%;
    background: #ffffff80;
    color: #000;
    outline: 1px solid rgb(255, 255, 255);
    box-shadow: inset 0 0 80px whitesmoke, inset 20px 0 80px rgba(255, 0, 255, 0.747),
      inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
      0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
    transition: all ease-in-out 0.3s;
  }

.contenedor_productos_V > article:nth-child(1):hover > .izquierda > img {
  transition: all 1s ease;
  transform: translate3d(0px, 0px, 60px);
}

.contenedor_productos_V > article:nth-child(1) {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2 , minmax(auto , 1fr));
  gap: 10px;
}

.contenedor_productos_V > article:nth-child(1) > .izquierda{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor_productos_V > article:nth-child(1) > .izquierda > img {
  width: 100%;
  aspect-ratio: 1/1;
  transition: all 1s ease;
}

.contenedor_productos_V > article:nth-child(1) > .derecha {
  padding: 10px;
  position: relative;
  width: 100%;
}

.contenedor_productos_V > article:nth-child(1) > .derecha > .estrella {
  display: flex;
  align-content: end;
  flex-flow: wrap;
  padding: 10px;
}

.contenedor_productos_V > article:nth-child(1) > .derecha > h2 {
  font-size: 40px;
  padding: 5px;
}

.contenedor_productos_V > article:nth-child(1) > .derecha > p {
  font-size: 18px;
  margin-bottom: 10px;
}

.contenedor_productos_V > article:nth-child(1) > .derecha > button {
  width: 40%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  left: 50%;
  transition: 0.3s ease-out;
  margin-top: 30px;
}

.contenedor_productos_V > article:nth-child(1) > .derecha > button:hover {
  transform: scale(1.1);
  background-color: #008bf8;
  cursor: pointer;
  box-shadow: 5px 2px 5px #008bf8;
}

.contenedor_productos_V > article:nth-child(2) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor_productos_V > article:nth-child(2) > hr {
  border: 1px solid black;
  width: 100%;
}

.contenedor_productos_V > article:nth-child(2) > div {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.contenedor_productos_V > article:nth-child(2) > div > img {
  width: 70px;
  height: 72px;
  margin-right: 5px;
}

/* fin variedad de productos de mostrar estilos */

/* menu vertical */

.Menu_vertical {
  width: 30%;
  height: auto;
  box-shadow: 0px 0px 10px black;
  position: fixed;
  bottom: 0%;
  right: 0;
  z-index: 4;
  top: 0;
  background: whitesmoke;
  overflow: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: minmax(auto, 1fr);
  grid-template-rows: auto minmax(auto, 1fr) auto auto;
  transition: all 500ms ease;
}

.Menu_vertical > .encabezado {
  width: 100%;
  padding: 10px;
  background: rgb(31, 158, 31);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
}

.Menu_vertical > .encabezado > button {
  padding: 10px;
  background: green;
  border-radius: 5px;
  cursor: pointer;
}

.Menu_vertical > .encabezado > h2 {
  font-size: 40px;
  color: white;
}

.Menu_vertical > .encabezado > button:active {
  transform: translateY(-10px);
  transition: all 200ms ease;
}

.Menu_vertical > .productos_C {
  padding: 10px;
  width: 100%;
  height: 100%;
  position: relative;
}

.Menu_vertical > .productos_C > .sub_content_P {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: wheat;
  padding: 10px;
  overflow: hidden;
}

.Menu_vertical > .productos_C > .sub_content_P > .card_P {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  background: rgb(201, 177, 132);
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 500ms ease;
}

.Menu_vertical > .productos_C > .sub_content_P > .card_P > img {
  width: 100px;
  height: 100px;
}

.Menu_vertical
  > .productos_C
  > .sub_content_P
  > .card_P
  .content_p
  > .controles_p {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  margin-top: 10px;
}

.Menu_vertical
  > .productos_C
  > .sub_content_P
  > .card_P
  .content_p
  > .controles_p
  > button {
  padding: 2px 10px;
  font-size: 18px;
  margin-right: 10px;
  background: #d1903b;
  border-radius: 5px;
  transition: all 300ms ease;
  border: 2px solid #c3c6ce;
}

.Menu_vertical
  > .productos_C
  > .sub_content_P
  > .card_P
  .content_p
  > .controles_p
  > button:hover {
  border-color: #bb7c2a;
  color: white;
  transform: scale(1.1);
  background: #8f570e;
  cursor: pointer;
  transition: all 300ms ease;
}

.Menu_vertical > .pie_M {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: rgb(31, 167, 31);
  box-shadow: 0px 0px 10px rgb(31, 167, 31);
  transition: all 400ms ease;
}

.Menu_vertical > .pie_M:hover {
  background: transparent;
  transition: all 400ms ease;
}

.Menu_vertical > .pie_M::after {
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: rgb(22, 109, 22);
  transition: all 400ms ease;
  z-index: -1;
}

.Menu_vertical > .pie_M:hover::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(22, 109, 22);
  transition: all 400ms ease;
}

.Menu_vertical > .pie_M:hover {
  transition: all 400ms ease;
  cursor: pointer;
}

.Menu_vertical > .pie_M > button {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.Menu_vertical > .compras {
  padding: 10px;
  width: 100%;
  box-shadow: 0px 0px 5px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Menu_vertical > .compras > p {
  font-size: 20px;
  margin-right: 10px;
}

.Menu_vertical > .compras > button {
  padding: 5px;
  border: none;
  background: #e7e5e5;
  font-size: 20px;
  border-radius: 5px;
  transition: all 300ms ease;
  border: 2px solid #c3c6ce;
}

.Menu_vertical > .compras > button:hover {
  transition: all 300ms ease;
  border-color: dodgerblue;
  transform: scale(1.1);
  cursor: pointer;
}

/* fin menu vertical */

/* fin contenido principal */

/* pie de pagina */

footer {
  width: 100%;
  height: auto;
  position: relative;
}

footer > .contenedor_info_footer {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px;
  background: rgb(20, 20, 20);
  border: 5px solid rgb(134, 134, 134);
  color: white;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-template-rows: minmax(auto, 1fr);
  gap: 40px;
}

footer > .contenedor_info_footer > article > h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

footer > .contenedor_info_footer > article:nth-child(2) > .red {
  padding: 5px 20px;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-flow: wrap;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: all 500ms ease;
  position: relative;
  overflow: hidden;
}

footer > .contenedor_info_footer > article:nth-child(2) > .red a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  z-index: 2;
  transition: all 500ms ease;
}

footer > .contenedor_info_footer > article:nth-child(2) > .red:hover a {
  color: black;
  transition: all 500ms ease;
}

footer > .contenedor_info_footer > article:nth-child(2) > .red:hover {
  background: transparent;
  border-bottom: 2px solid gray;
}

footer > .contenedor_info_footer > article:nth-child(2) > .red::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  right: 50%;
  background: white;
  bottom: 0;
  transition: all 400ms ease;
  opacity: 0;
}

footer > .contenedor_info_footer > article:nth-child(2) > .red:hover::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 400ms ease;
  opacity: 1;
}

footer > .contenedor_info_footer > article:nth-child(2) > .red > img {
  width: 45px;
  height: 45px;
  transition: all 500ms ease;
  z-index: 2;
}

footer > .contenedor_info_footer > article:nth-child(2) > .red > p {
  font-size: 18px;
  margin-left: 10px;
  z-index: 2;
}

footer > .contenedor_info_footer > article:nth-child(3) > p {
  font-size: 21px;
  margin-bottom: 10px;
}

footer > .contenedor_info_footer > article:nth-child(3) > hr {
  border: 1px solid white;
  padding: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer > .contenedor_info_footer > article:nth-child(3) > .metodos_pagos {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

footer
  > .contenedor_info_footer
  > article:nth-child(3)
  > .metodos_pagos
  > .metodo
  > img {
  margin-right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: 1px solid white;
  padding: 10px;
  transition: all 400ms ease;
  position: relative;
}

footer
  > .contenedor_info_footer
  > article:nth-child(3)
  > .metodos_pagos
  > .metodo
  > p {
  font-size: 18px;
  padding: 5px;
  background: white;
  border-radius: 5px;
  text-align: center;
  position: relative;
  left: -15%;
  transform: translateY(-50px);
  transition: all 400ms ease;
  opacity: 0;
  z-index: -1;
  color: black;
}

footer
  > .contenedor_info_footer
  > article:nth-child(3)
  > .metodos_pagos
  > .metodo
  > img:hover {
  background: white;
  width: 64px;
  height: 64px;
  transition: all 400ms ease;
}

footer
  > .contenedor_info_footer
  > article:nth-child(3)
  > .metodos_pagos
  > .metodo:hover
  p {
  transform: translateY(0px);
  transition: all 400ms ease;
  opacity: 1;
  z-index: 1;
}

footer > nav {
  width: 100%;
  height: auto;
  position: relative;
}

footer > nav > ul {
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  flex-flow: wrap;
}

footer > nav > ul > li {
  padding: 20px;
  margin-right: 20px;
  transition: all 400ms ease;
  position: relative;
  overflow: hidden;
}

footer > nav > ul > li::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 0%;
  background: rgb(97, 152, 223);
  bottom: -100%;
  left: 0;
  transition: all 400ms ease;
}

footer > nav > ul > li:hover::after {
  transition: all 400ms ease;
  height: 100%;
  z-index: -1;
  bottom: 0;
}

footer > nav > ul > li > a {
  text-decoration: none;
  color: black;
  transition: all 400ms ease;
}

footer > nav > ul > li:hover a {
  color: white;
  font-size: 24px;
  transition: all 400ms ease;
}

/* responsive */

@media screen and (max-width: 1045px) {
  
  .contenedor_productos_V {
    grid-template-columns: minmax(auto , 1fr);
  }

  .contenedor_productos_V > article:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , auto));
  }

}

@media screen and (max-width: 757px) {  
  .contenedor_productos_V > article:nth-child(1) {
    grid-template-columns: minmax(auto , 1fr);
  }

  .contenedor_productos_V > article:nth-child(1) > .derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}


@media screen and (max-width: 690px) {  
  .contenedor_header_all > .info_header {
    background-size: cover;
  }
}

/* carrito */

@media screen and (max-width: 948px) {  
.Menu_vertical {
  width: 100%;
  height: 40%;
  box-shadow: 0px 0px 10px black;
  position: fixed;
  bottom: 0%;
  right: 0;
  z-index: 4;
  top: 60%;
  display: grid;
  grid-template-columns: minmax(auto, 1fr);
  grid-template-rows: auto minmax(auto, 1fr) auto auto;
  transition: all 500ms ease;
}
}


