@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}

/* encabezado */

.contenedor_encabezado_all {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: minmax(auto, 1fr);
  grid-template-rows: auto minmax(auto, 1fr);
}

/* header */

.contenedor_encabezado_all > header {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  box-shadow: 0px 0px 10px blue;
}

.contenedor_encabezado_all > header > nav {
  position: relative;
  height: auto;
}

.contenedor_encabezado_all > header > h1 {
  font-size: 40px;
  margin-right: 20px;
}

.contenedor_encabezado_all > header > nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  flex-flow: wrap;
  justify-content: center;
  position: relative;
}

.contenedor_encabezado_all > header > nav > ul > li {
  padding: 15px;
  margin-right: 20px;
  transition: all 500ms ease;
  position: relative;
}

.contenedor_encabezado_all > header > nav > ul > li::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(97, 152, 223);
  border-radius: 100%;
  top: 5px;
  right: 5px;
  transition: all 500ms ease;
  z-index: -1;
}

.contenedor_encabezado_all > header > nav > ul > li:hover::after {
  transform: rotateY(360deg);
  transform-style: preserve-3d;
  transition: all 500ms ease;
  width: 100%;
  height: 100%;
  background: rgb(97, 152, 223);
  border-radius: 0%;
  top: 0;
  right: 0;
}

.contenedor_encabezado_all > header > nav > ul > li:hover a {
  color: white;
  transition: all 500ms ease;
}

.contenedor_encabezado_all > header > nav > ul > li > a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  transition: all 500ms ease;
}

/* contenido del contedor del header */

.contenedor_encabezado_all > .info_encabezado {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}

.contenedor_encabezado_all > .info_encabezado > .parallax_img {
  position: absolute;
  width: 150%;
  height: 150vh;
  background: url(../img/fondoe.jpg);
  background-size: cover;
  top: 0;
  transition: all 200ms ease;
  z-index: -1;
}

.contenedor_encabezado_all > .info_encabezado > h2 {
  font-size: 80px;
  margin-bottom: 10px;
  color: white;
}

.button {
  height: 50px;
  width: 100%;
  max-width: 160px;
  border: none;
  border-radius: 10px;
  padding: 0px 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.button:hover {
  box-shadow: 0.5px 0.5px 150px #252525;
}

.type1::after {
  content: "Ahora!!";
  height: 50px;
  width: 100%;
  max-width: 160px;
  background-color: #008080;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1::before {
  content: "Contactanos";
  height: 50px;
  width: 100%;
  max-width: 160px;
  background-color: #fff;
  color: #008080;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1:hover::after {
  transform: translateY(0) scale(1.2);
}

.type1:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}

/* main - contenido principal */

main {
  width: 100%;
  height: auto;
  position: relative;
}

/* info de la pagina intro */

.contenedor_info_intro {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  padding: 20px;
  margin-top: 100px;
}

.contenedor_info_intro > .card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #dddada;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #97929280;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-right: 30px;
  margin-bottom: 20px;
}

.contenedor_info_intro > .card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenedor_info_intro > .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.contenedor_info_intro > .card > .card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenedor_info_intro > .card:hover .card__content {
  transform: rotateX(0deg);
}

.contenedor_info_intro > .card > .card__content > .card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.contenedor_info_intro > .card:hover svg {
  scale: 0;
}

.contenedor_info_intro > .card > .card__content > .card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

/* novedades */

.novedades {
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-template-rows: minmax(auto, 1fr);
}

.novedades > article {
  position: relative;
  overflow: hidden;
}

.novedades > article > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 170%;
  height: 150%;
  object-fit: cover;
  z-index: -1;
}

.novedades > article:nth-child(1) > img {
  width: 200%;
}

.novedades > article:nth-child(2) > img {
  left: -70%;
}

.novedades > article > .info_novedades {
  width: 90%;
  height: auto;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  padding: 30px;
  margin-bottom: 100px;
  background: rgb(175, 168, 152, 0.7);
}

.novedades > article > .info_novedades > h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.novedades > article > .info_novedades > p {
  font-size: 18px;
}

.novedades > article > .button-borders > .primary-button {
  font-family: "Ropa Sans", sans-serif;
  /* font-family: 'Valorant', sans-serif; */
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: 1px solid #0e1822;
  padding: 0.8rem 2.1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #0e1822;
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  transition-property: background-position, border, color;
  position: relative;
  z-index: 1;
}

.novedades > article > .button-borders > .primary-button:hover {
  border: 1px solid #ff4655;
  color: white;
  background-position: 40%;
}

.novedades > article > .button-borders > .primary-button:before {
  content: "";
  position: absolute;
  background-color: #0e1822;
  width: 0.2rem;
  height: 0.2rem;
  top: -1px;
  left: -1px;
  transition: background-color 0.15s ease-in-out;
}

.novedades > article > .button-borders > .primary-button:hover:before {
  background-color: white;
}

.novedades > article > .button-borders > .primary-button:hover:after {
  background-color: white;
}

.novedades > article > .button-borders > .primary-button:after {
  content: "";
  position: absolute;
  background-color: #ff4655;
  width: 0.3rem;
  height: 0.3rem;
  bottom: -1px;
  right: -1px;
  transition: background-color 0.15s ease-in-out;
}

.novedades > article > .button-borders {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-left: 50px;
}

.novedades > article > .button-borders:hover {
  transform: scale(1.1);
}

.novedades > article > .button-borders:before {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  top: -0.3em;
  border: 1px solid #0e1822;
  border-bottom: 0px;
  /* opacity: 0.3; */
}

.novedades > article > .button-borders:after {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  bottom: -0.3em;
  border: 1px solid #0e1822;
  border-top: 0px;
  /* opacity: 0.3; */
  z-index: 0;
}

/* contenedor productos */

.contenedor_productos {
  width: 100%;
  max-width: 90%;
  height: auto;
  position: relative;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto;
  border-left: 5px solid gray;
  border-right: 5px solid gray;
  border-radius: 5px;
}

.contenedor_productos > h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.contenedor_productos > button {
  padding: 20px;
  border: none;
  background: #e7e5e5;
  border-radius: 5px;
  transition: all 300ms ease;
  border: 2px solid #c3c6ce;
  margin-top: 40px;
}

.contenedor_productos > button > a{
  font-size: 20px;
  color: black;
}

.contenedor_productos > button:active {
  transform: translateY(-20px);
}

.contenedor_productos > button:hover {
  border-color: #008bf8;
  cursor: pointer;
}

.contenedor_productos > .sub_contenedor_all_productos{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.contenedor_productos > .sub_contenedor_all_productos > .sub_contenedor_productos {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  text-align: center;
  flex-flow: wrap;
  flex-shrink: 0;
  transition: all 1s ease;
}

.contenedor_productos > .sub_contenedor_all_productos > .sub_contenedor_productos > .card {
  width: 300px;
  height: auto;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin-right: 10px;
  margin-bottom: 20px;
}

.contenedor_productos > .sub_contenedor_all_productos > .sub_contenedor_productos > .card::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: rgba(207, 205, 205, 0.5);
  box-shadow: 0px 0px 30px rgba(207, 205, 205, 0.5);
  top: 10px;
  left: 20px;
  transition: all 400ms ease;
}

.contenedor_productos > .sub_contenedor_all_productos > .sub_contenedor_productos > .card:hover::after {
  transform: translateX(30px) translateY(30px);
  transition: all 400ms ease;
  width: 100px;
  height: 100px;
}

.contenedor_productos > .sub_contenedor_all_productos > .sub_contenedor_productos > .card > .card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.contenedor_productos
  > .sub_contenedor_all_productos > .sub_contenedor_productos
  > .card
  > .card-details
  > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.contenedor_productos > .sub_contenedor_all_productos > .sub_contenedor_productos > .card > .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.contenedor_productos
  > .sub_contenedor_all_productos > .sub_contenedor_productos
  > .card
  > .card-details
  > .text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.contenedor_productos
  > .sub_contenedor_all_productos > .sub_contenedor_productos
  > .card
  > .card-details
  > .text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.contenedor_productos > .sub_contenedor_all_productos > .sub_contenedor_productos > .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  transition: all 300ms ease;
  transform: scale(0.9);
  z-index: 2;
  margin-right: 20px;
  margin-left: 20px;
}

.contenedor_productos > .sub_contenedor_all_productos > .sub_contenedor_productos > .card:hover .card-button {
  transform: translate(-50%, 30%);
  opacity: 1;
  cursor: pointer;
}

/*menu de navegacion*/
.contenedor_productos > .lista,
.contenedor_productos > .lista > nav{
  width: 100%;
  height: auto;
}

.contenedor_productos > .lista > nav > ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 100%;
  flex-flow: wrap;
  transition: all 300ms ease;
}

.contenedor_productos > .lista > nav > ul > li{
  padding: 15px;
  border-radius: 100px;
  background: rgb(182, 177, 177);
  margin-right: 10px;
  transition: all 300ms ease;
  border: 2px solid rgb(133, 124, 124);
}

.contenedor_productos > .lista > nav > ul > li:hover{
  border-color: #008bf8;
  box-shadow: 0px 0px 10px #008bf8;
  cursor: pointer;
}

/* Servicios */

/* servicio1 */

.info_servicio_1 {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  flex-flow: wrap;
  margin-top: 200px;
  background: rgb(245, 244, 244);
}

.info_servicio_1 > img {
  margin-right: 30px;
  margin-bottom: 10px;
}

.info_servicio_1 > .contenedor_info_S {
  max-width: 500px;
}

.info_servicio_1 > .contenedor_info_S > h2 {
  font-size: 50px;
}

/* servicio2 */

.info_servicio_2 {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-template-rows: repeat(2, minmax(auto, 1fr));
  margin-top: 100px;
}

.info_servicio_2 > .card_info_S {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.info_servicio_2 > .card_info_S > h2 {
  font-size: 50px;
  transition: all 500ms ease;
  margin-bottom: 20px;
}

.info_servicio_2 > .card_info_S > .contenedor_info_card_info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(100%) rotateX(180deg);
    transform-style: preserve-3d;
    transition: all 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 50px;
}

.info_servicio_2 > .card_info_S:hover .contenedor_info_card_info{
    transform: translateY(0%) rotateX(0deg);
    transition: all 500ms ease;
}

.info_servicio_2 > .card_info_S:hover > h2{
    margin-left: -100%;
    opacity: 0;
    transition: all 500ms ease;
}

.info_servicio_2 > .card_info_S:nth-child(1),
.info_servicio_2 > .card_info_S:nth-child(4) {
  background: rgb(197, 79, 33, 0.5);
}

.info_servicio_2 > .card_info_S:nth-child(2),
.info_servicio_2 > .card_info_S:nth-child(3) {
  background: rgba(49, 135, 233, 0.5);
}

/* pie de pagina */

footer{
    width: 100%;
    height: auto;
    position: relative;
}

footer > .contenedor_info_footer{
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px;
    background: rgb(20, 20, 20);
    border: 5px solid rgb(134, 134, 134);
    color: white;
    display: grid;
    grid-template-columns: repeat(3 , minmax(auto , 1fr));
    grid-template-rows: minmax(auto , 1fr);
    gap: 40px;
}

footer > .contenedor_info_footer > article > h2{
  font-size: 30px;
  margin-bottom: 20px;
}

footer > .contenedor_info_footer > article:nth-child(2) >
.red{
    padding: 5px 20px;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-flow: wrap;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 500ms ease;
    position: relative;
    overflow: hidden;
}

footer > .contenedor_info_footer > article:nth-child(2) >
.red a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    z-index: 2;
    transition: all 500ms ease;
}

footer > .contenedor_info_footer > article:nth-child(2) >
.red:hover a{
    color: black;
    transition: all 500ms ease;
}

footer > .contenedor_info_footer > article:nth-child(2) >
.red:hover{
    background: transparent;
    border-bottom: 2px solid gray;
}

footer > .contenedor_info_footer > article:nth-child(2) >
.red::after{
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    right: 50%;
    background: white;
    bottom: 0;
    transition: all 400ms ease;
    opacity: 0;
}

footer > .contenedor_info_footer > article:nth-child(2) >
.red:hover::after{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 400ms ease;
    opacity: 1;
}

footer > .contenedor_info_footer > article:nth-child(2) >
.red > img{
    width: 45px;
    height: 45px;
    transition: all 500ms ease;
    z-index: 2;
}

footer > .contenedor_info_footer > article:nth-child(2) >
.red > p{
    font-size: 18px;
    margin-left: 10px;
    z-index: 2;
}

footer > .contenedor_info_footer > article:nth-child(3) > p{
    font-size: 21px;
    margin-bottom: 10px;
}

footer > .contenedor_info_footer > article:nth-child(3) > hr{
    border: 1px solid white;
    padding: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer > .contenedor_info_footer > article:nth-child(3) > .metodos_pagos{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

footer > .contenedor_info_footer > article:nth-child(3) > .metodos_pagos > .metodo > img{
    margin-right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: 1px solid white;
    padding: 10px;
    transition: all 400ms ease;
    position: relative;
}

footer > .contenedor_info_footer > article:nth-child(3) > .metodos_pagos > .metodo > p{
    font-size: 18px;
    padding: 5px;
    background: white;
    border-radius: 5px;
    text-align: center;
    position: relative;
    left: -15%;
    transform: translateY(-50px);
    transition: all 400ms ease;
    opacity: 0;
    z-index: -1;
    color: black;
}

footer > .contenedor_info_footer > article:nth-child(3) > .metodos_pagos > .metodo > img:hover{
    background: white;
    width: 64px;
    height: 64px;
    transition: all 400ms ease;
}

footer > .contenedor_info_footer > article:nth-child(3) > .metodos_pagos > .metodo:hover p{
    transform: translateY(0px);
    transition: all 400ms ease;
    opacity: 1;
    z-index: 1;
}

footer > nav{
    width: 100%;
    height: auto;
    position: relative;
}

footer > nav > ul{
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    flex-flow: wrap;
}

footer > nav > ul > li{
    padding: 20px;
    margin-right: 20px;
    transition: all 400ms ease;
    position: relative;
    overflow: hidden;
}

footer > nav > ul > li::after{
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 0%;
  background: rgb(97, 152, 223);
  bottom: -100%;
  left: 0;
  transition: all 400ms ease;
}

footer > nav > ul > li:hover::after{
    transition: all 400ms ease;
    height: 100%;
    z-index: -1;
    bottom: 0;
}

footer > nav > ul > li > a{
    text-decoration: none;
    color: black;
    transition: all 400ms ease;
}

footer > nav > ul > li:hover a{
    color: white;
    font-size: 24px;
    transition: all 400ms ease;
}